 input,  textarea, {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display:block;
  margin: auto;
}
div.justified {
        display: flex;
        justify-content: center;
      }
  input{
  display:block;
  border-radius: 15px;
  width:300px; height:50px;
  margin:auto;

}
input[type=submit]{
  width:100%;
  background-color:  blue;
  margin-top: 1rem;
}
body{
  background-color:red;
  text-align: center;
}
form
{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
